body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 400px;
    background-color: rgba(8, 15, 26, 10);
}

.container {
    text-align: center;
    margin: 5vh auto;
    padding: 20px;
    height: 80vh;
    width: 60vw;
    background: #24252A;
    border: 4px dotted rgba(96, 133, 156, 10);
    border-radius: 30px;
}

.page-logo {
    width: 400px;
    margin: 2vh 0 2vh;
}

.page-title {
    color: #f1f1f1;
    margin: 2vh 0 2vh;
    font-size: 2.5rem;
}

.alura-logo {
    position: absolute;
    width: 80px;
    top: 100px;
    right: 85px;
}

input {
    margin: 2%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 15px;
    text-align: center;
}

label {
    color: #f1f1f1;
    margin: 2vh 0 2vh;
    font-size: 1.3rem;
}


select {
    display: block;
    margin: 10px auto 10px;
    width: 10vw;
    height: 3vh;
    background: #F2F3F4;
    font-weight: bold;
    text-align: center;
    border-radius: 12px;
}

button {
    width: 16%;
    height: 6%;
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffdb60;
}

h2 {
    color: #f1f1f1;
    font-size: 1.8rem;
    margin: 2vh 0 2vh;
}